{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
  },
  "extends": [
    "plugin:@storybook/eslint-config-storybook",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "plugin:storybook/recommended",
  ],
  "ignorePatterns": ["dist", ".eslintrc.yaml"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["react-refresh"],
  "rules": {
    "react/prop-types": "off",
    "react-refresh/only-export-components": [
      "warn",
      { "allowConstantExport": true },
    ],
  },
}
