{
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@assets/(.*)$",
    "^@forms/(.*)$",
    "^@modules/(.*)$",
    "^@components/(.*)$",
    "^@fonts/(.*)$",
    "^@functions/(.*)$",
    "^@hooks/(.*)$",
    "^@providers/(.*)$",
    "^@theme/(.*)$",
    "^@types/(.*)$",
    "^[./]",
    "^@fontsource/(.*)$",
    ".css"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "printWidth": 80,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all"
}